.slider-container {
  height: 100vh;
  overflow-y: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.auth-container {
  display: grid;
  place-items: center;
  min-height: 100vh;

  a {
    text-decoration: underline;
    color: initial;
    font-weight: bold;
  }

  .ant-input-password, input, button {
    border-radius: 100px !important;
  }
}