@import "../node_modules/bootstrap/dist/css/bootstrap-utilities.css";

body {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.flip-x {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}