.message-container {
  .headerStyle {
    background-color: white;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  .contentStyle {
    text-align: center;
    color: '#fff';
    background-color: '#108ee9';
    padding: 20px;
  }

  .siderStyle {
    height: 100vh;
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 20px;
    flex-basis: 30em !important;
    max-width: 30em !important;
  }

  .footerStyle {
    background-color: white;
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 1;
    padding: 10px;
  }
}